.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background-color: #ec0000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.hamburger::before {
    content: '';
    margin-top: -8px;
}

.hamburger::after {
    content: '';
    margin-top: 8px;
}