.inputText {
    margin-left: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(218, 218, 218);
}

.logButton {
    margin-top: 1rem;
    margin-left: 0.5rem;
    width: 50%;
    background-color: rgba(122, 122, 122, 0.292);
    color: rgb(0, 0, 0);
}